CLASSIFIER_PASSWORD=1234
JWT_SECRET=verysecret
GROQ_API_KEY=verysecret
POSTGRES_USER=postgres
POSTGRES_PASSWORD=verysecret
POSTGRES_DB=db
POSTGRES_PORT=5432
POSTGRES_URL=postgresql://postgres:verysecret@localhost:5432/db
